footer.footer
	.footer__wrapper
		.footer__company
			.footer__company_logo
				.footer__company_logo_link
					img(src='/static/img/logo-footer.svg', alt='Технониколь').footer__company_logo_img
				small.footer__company_label Официальный сайт корпорации ТЕХНОНИКОЛЬ tn.ru
		a(href='#').btn__open
		.footer__info
			.footer__line
				nav.footerNav
					ul.footerMenu
						li.footerMenu__list
							a(href='#').footerMenu__link Каталог
						li.footerMenu__list
							a(href='#').footerMenu__link Монтаж
						li.footerMenu__list
							a(href='#').footerMenu__link Фотогалерея
						li.footerMenu__list
							a(href='#').footerMenu__link Документация
						li.footerMenu__list
							a(href='#').footerMenu__link Где купить?
				.hotLine
					small.hotLine__label горячая линия
					a(href='tel:8800200565', title='Звонки со стационарного телефона бесплатны').hotLine__tel 8 800 200-05-65
			.footer__dev
				.footer__copy © Композитная черепица ТЕХНОНИКОЛЬ LUXARD, 2017
				.footer__design Дизайн сайта
					a(href='/').footer__design_link
						strong MINISOL

