footer.footer(data-aos="slide-down", data-aos-duration="800")
	.footer__wrapper
		.footer__company
			.footer__company_logo
				a(href='#').footer__company_logo_link
					picture.footer__company_logo_img
						source(srcset="/static/img/logo-footer.svg" media="(min-width: 1361px)")
						source(srcset="/static/img/logo-min.svg" media="(min-width: 1000px)")
						source(srcset="/static/img/logo-footer.svg" media="(min-width: 501px)")
						source(srcset="/static/img/logo-footer.svg" media="(min-width: 300px)")
						img(srcset="/static/img/logo-footer.svg" alt="…")
				small.footer__company_label Официальный сайт корпорации ТЕХНОНИКОЛЬ tn.ru
		.footer__info
			.footer__line
				nav.footerNav
					ul.footerMenu
						li.footerMenu__list
							a(href='#').footerMenu__link Каталог
						li.footerMenu__list
							a(href='#').footerMenu__link Монтаж
						li.footerMenu__list
							a(href='#').footerMenu__link Фотогалерея
						li.footerMenu__list
							a(href='#').footerMenu__link Документация
						li.footerMenu__list
							a(href='#').footerMenu__link Где купить?
				.hotLine
					small.hotLine__label горячая линия
					a(href='tel:8800200565', title='Звонки со стационарного телефона бесплатны').hotLine__tel 8 800 200-05-65
			.footer__dev
				.footer__copy © Композитная черепица ТЕХНОНИКОЛЬ LUXARD, 2017
				.footer__design Дизайн сайта
					a(href='/').footer__design_link
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 101.59 37.39')
							path(d='M15.09 37.08V25L10.21 37.08H8.6L3.72 25V37.08H0V19.76H5.2L9.4 30.23l4.21-10.47H18.8V37.08Z', fill='#fff')
							path(d='M22.29 37.08V19.76H26V37.08Z', fill='#fff')
							path(d='M41.35 37.08l-8.26-11.3v11.3H29.4V19.76H33.2l8 10.88V19.76h3.69V37.08Z', fill='#fff')
							path(d='M48.38 37.08V19.76h3.69V37.08Z', fill='#fff')
							path(d='M54.26 34.64l2-2.8a7.59 7.59 0 0 0 5.51 2.34c2 0 3-.93 3-1.92 0-3.06-10-1-10-7.48 0-2.88 2.49-5.27 6.57-5.27a9.63 9.63 0 0 1 6.75 2.42l-2.05 2.7a7.44 7.44 0 0 0-5-1.9c-1.58 0-2.47.7-2.47 1.74 0 2.75 9.95.91 9.95 7.38 0 3.17-2.26 5.56-6.93 5.56A9.87 9.87 0 0 1 54.26 34.64Z', fill='#fff')
							path(d='M69.93 28.43a9.05 9.05 0 0 1 18.1 0 9.05 9.05 0 0 1-18.1 0Zm14.31 0c0-3.25-2.08-5.69-5.27-5.69s-5.25 2.44-5.25 5.69 2.05 5.69 5.25 5.69S84.24 31.65 84.24 28.43Z', fill='#fff')
							path(d='M90.58 37.08V19.76h3.69V33.83h7.32v3.25Z', fill='#fff')
							path.svg_topest(d='M7.89 6.46a2.75 2.75 0 0 1 5.26 0h1.47v-3H13.25a3.88 3.88 0 0 0-2.72-1 3.88 3.88 0 0 0-2.72 1H6.42v3Z', fill='#9a3711')
							path.svg_topest(d='M16.32 6.46a2.75 2.75 0 0 1 5.26 0H23v-3H21.67a4.08 4.08 0 0 0-5.45 0H14.85v3Z', fill='#9a3711')
							path.svg_topest(d='M24.75 6.46a2.76 2.76 0 0 1 2.63-1.93 18.41 18.41 0 0 0 4.1-1.06H30.1a4.08 4.08 0 0 0-5.45 0H23.28v3Z', fill='#9a3711')
							path.svg_topest(d='M69.58 6.48a2.75 2.75 0 0 0-5.26 0H62.86v-3h1.37a4.08 4.08 0 0 1 5.45 0H71v3Z', fill='#9a3711')
							path.svg_topest(d='M61.15 6.48a2.75 2.75 0 0 0-5.26 0H54.43v-3H55.8a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#9a3711')
							path.svg_topest(d='M52.72 6.48a2.75 2.75 0 0 0-5.26 0H46v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#9a3711')
							path.svg_topest(d='M86.47 6.47a2.75 2.75 0 0 0-5.26 0H79.74v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#9a3711')
							path.svg_topest(d='M78 6.47a2.75 2.75 0 0 0-5.26 0H71.31v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#9a3711')
							path.svg_top(d='M4.7 10.19a2.75 2.75 0 0 1 5.26 0h1.47v-3H10.05a3.88 3.88 0 0 0-2.72-1 3.88 3.88 0 0 0-2.72 1H3.23v3Z', fill='#c54a20')
							path.svg_top(d='M13.13 10.19a2.75 2.75 0 0 1 5.26 0h1.47v-3H18.48a4.08 4.08 0 0 0-5.45 0H11.66v3Z', fill='#c54a20')
							path.svg_top(d='M21.56 10.19a2.75 2.75 0 0 1 5.26 0l1.47-3H26.91a4.08 4.08 0 0 0-5.45 0H20.09v3Z', fill='#c54a20')
							path.svg_top(d='M72.77 10.2a2.75 2.75 0 0 0-5.26 0H66v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#c54a20')
							path.svg_top(d='M64.35 10.2a2.75 2.75 0 0 0-5.26 0H57.62v-3H59a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#c54a20')
							path.svg_top(d='M55.92 10.2a2.75 2.75 0 0 0-5.26 0H49.19v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#c54a20')
							path.svg_top(d='M89.66 10.2a2.75 2.75 0 0 0-5.26 0H82.94v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#c54a20')
							path.svg_top(d='M81.23 10.2a2.75 2.75 0 0 0-5.26 0H74.51v-3h1.37a4.08 4.08 0 0 1 5.45 0H82.7v3Z', fill='#c54a20')
							path.svg_mdl(d='M1.5 13.91a2.75 2.75 0 0 1 5.26 0H8.23v-3H6.86a3.88 3.88 0 0 0-2.72-1 3.88 3.88 0 0 0-2.72 1H0v3Z', fill='#f15a29')
							path.svg_mdl(d='M9.93 13.91a2.75 2.75 0 0 1 5.26 0h1.47v-3H15.29a3.88 3.88 0 0 0-2.72-1 3.88 3.88 0 0 0-2.72 1H8.46v3Z', fill='#f15a29')
							path.svg_mdl(d='M18.36 13.91a2.75 2.75 0 0 1 5.26 0h1.47v-3H23.71a4.08 4.08 0 0 0-5.45 0H16.89v3Z', fill='#f15a29')
							path.svg_mdl(d='M76 13.93a2.75 2.75 0 0 0-5.26 0H69.24v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#f15a29')
							path.svg_mdl(d='M67.54 13.93a2.75 2.75 0 0 0-5.26 0H60.81v-3h1.37a4.08 4.08 0 0 1 5.45 0H69v3Z', fill='#f15a29')
							path.svg_mdl(d='M59.11 13.93a2.75 2.75 0 0 0-5.26 0H50.92v-3h2.84a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#f15a29')
							path.svg_mdl(d='M92.82 13.94a2.75 2.75 0 0 0-5.26 0H86.09v-3h1.37a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#f15a29')
							path.svg_mdl(d='M84.39 13.94a2.75 2.75 0 0 0-5.26 0H77.66v-3H79a4.08 4.08 0 0 1 5.45 0h1.37v3Z', fill='#f15a29')
							path.svg_duga(d='M25.94 15s0-.08 0-.12C25.93 8.79 31 3.35 37.16 3.35S48.34 8.79 48.34 14.9c0 0 0 .08 0 .12H52s0-.08 0-.12a14.89 14.89 0 1 0-29.78 0s0 .08 0 .12Z', fill='#f7941d')
							path.svg_wndw(d='M38.11 13.43h6.77A7.74 7.74 0 0 0 38.11 6Z', fill='#9ea0a1')
							path.svg_wndw(d='M36.45 6a7.75 7.75 0 0 0-7 7.44h7Z', fill='#9ea0a1')
							rect.svg_line(y='14.73', width='25.94', height='2', fill='#f7941d')
							rect.svg_line(x='48.34', y='14.73', width='45.96', height='2', fill='#f7941d')

