header.header.is_animated
	.layout
		a(href='/').logo
			picture.logo__pic
				source(srcset="/static/img/logo.svg" media="(min-width: 1361px)")
				source(srcset="/static/img/logo-min.svg" media="(min-width: 1000px)")
				img(srcset="/static/img/logo.svg" alt="…")
		a(href='#').btn__open
			b меню
			.btn__open_wrap
				span
				span
				span
		//- button.header_back.js-back назад
		.header__hide.js_open
			div.select.js-select
				span.select__text.js-select-text
				input(type="hidden", value="").js-select-input
				ul.select__list.js-select-list
					li(data-id="0")
						img(src='/static/img/flag-ru.jpg', alt='ru').lang__img
						| ru
					li(data-id="1")
						img(src='/static/img/flag_en.png', alt='ru').lang__img
						| en
			nav.header__nav
				ul.header__menu
					li.header__menu_list.has_subnav
						a(href='#').header__menu_link Каталог
						.subWrapper
							ul.header__submenu
								li.header__submenu_list
									a(href='#').header__submenu_link Коллекция Classic
								li.header__submenu_list
									a(href='#').header__submenu_link Коллекция Roman
								li.header__submenu_list
									a(href='#').header__submenu_link Комплектующие
					li.header__menu_list
						a(href='#').header__menu_link Фотогалерея
					li.header__menu_list.has_subnav
						a(href='#').header__menu_link Монтаж
						.subWrapper
							ul.header__submenu
								li.header__submenu_list
									a(href='#').header__submenu_link Область применения
								li.header__submenu_list
									a(href='#').header__submenu_link Инструкция по монтажу
					li.header__menu_list.has_subnav
						a(href='#').header__menu_link Информация
						.subWrapper
							ul.header__submenu
								li.header__submenu_list
									a(href='#').header__submenu_link Новости
								li.header__submenu_list
									a(href='#').header__submenu_link Документация
								li.header__submenu_list
									a(href='#').header__submenu_link Рекламные материалы
								li.header__submenu_list
									a(href='#').header__submenu_link Оформление гарантии
					li.header__menu_list
						a(href='#').header__menu_link Где купить?
			.header__info
				.hotLine
					small.hotLine__label горячая линия
					a(href='tel:8800200565', title='Звонки со стационарного телефона бесплатны').hotLine__tel 8 800 200-05-65
				a(href='#').qustion.js-question Задать <br> вопрос
	include ../module/ppp_form.pug