- var menu = [{name : ' Каталог', sub: ['Коллекция Classic', 'Коллекция Roman', 'Комплектующие']}, {name : 'Фотогалерея'},{name : 'Монтаж', sub: ['Область применения', 'Инструкция по монтаж']}, {name : 'Информация', sub: ['Новости', 'Документация', 'Рекламные материалы', 'Оформление гарантии']}, {name: 'Где купить?'}];

mixin list(items)
	ul.menu
		each item in items
			if item.sub
				li.menu_list.has_subnav
					a(href="#").menu_link
						span #{item.name}
							i.icon-bird
					.subWrapper
						ul.submenu
							each subitem in item.sub
								li.submenu_list
									a(href='#').submenu_link #{subitem}
			else
				li.menu_list
					a(href="#").menu_link
						span #{item.name}


header.header.is_animated
	.layout
		a(href='/').logo
			picture.logo__pic
				source(srcset="static/img/logo.svg" media="(min-width: 1361px)")
				source(srcset="static/img/logo-min.svg" media="(min-width: 1001px)")
				img(srcset="static/img/logo.svg" alt="…")
		a(href='#').btn__open
			b меню
			.btn__open_wrap
				span
				span
				span
		//- button.header_back.js-back назад
		.header__hide.js_open
			div.select.js-select
				span.select__text.js-select-text
				input(type="hidden", value="").js-select-input
				ul.select__list.js-select-list
					li(data-id="0")
						img(src='static/img/flag-ru.jpg', alt='ru').lang__img
						| ru
					li(data-id="1")
						img(src='static/img/flag_en.png', alt='ru').lang__img
						| en
			nav.header__nav
				+list(menu)
			.header__info
				.hotLine
					small.hotLine__label горячая линия
					a(href='tel:8800200565', title='Звонки со стационарного телефона бесплатны').hotLine__tel 8 800 200-05-65
				a(href='#').qustion.js-question Задать <br> вопрос
	include ../module/ppp_form.pug