section.section.is_animated.mod_first.mod_titleBig
	.section__inner
		h3.title__article фотогалерея
.filter.bg-dark


.section__inner
	.collage.shadow-hover
		a(href='static/img/gallery/01.jpg', data-fancybox="pic-01", data-width="1400", data-height="955", data-caption="#ret").collage__pic
			img(src='static/img/gallery/01.jpg', alt='изображение')
		.collage__content
			.collage__head
				.collage__color
					.collage__color_info
						img(src='static/img/gallery/colors/allanit.jpg', alt='изображение')
					.collage__head_info
						p.collage__desc цвет
						a(href='#').collage__link алланит
				.collage__collection
					.collage__head_info
						p.collage__desc коллекция технониколь
						a(href='#').collage__link luxard classic
			.collage__footer
				i.icon-locate
				.collage__footer_info
					strong Загородный дом
					p Казахстан. Астана. Посёлок Кордай.


