section.section.is_animated.mod_first
	h2.title__article каталог

	.presentation
		.pre.pre-left
			.presentation__item
				img(src='static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/index/collection/02.png', alt='изображение')
					.presentation__text
						h4.presentation__title classic
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию

		.pre.pre-right
			.presentation__item
				img(src='static/img/roman/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/roman/03.png', alt='изображение')
					.presentation__text
						h4.presentation__title roman
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию
