article.collection.is_animated
	h3.title__article Коллекции
	section.collection__wrap.mod_normal
		.propose(dir="rtl")
			.propose__item(data-thumb="/static/img/index/collection/06.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/06.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/index/collection/05.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/05.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/index/collection/04.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/04.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/index/collection/03.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/03.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/index/collection/02.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/02.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/index/collection/01.jpg")
				.propose__wrap
					img(src='/static/img/index/collection/01.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  classic
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог

		.present(data-active='tip_roof')
			.present__item
				img(src='/static/img/index/collection/01.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл

				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/collection/02.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  мокко
				.present__tips
					.present__tip
						.present__tip_pic
							img(src='/static/img/index/collection/icon-roof.png', alt='черепица').present__tip_img
						.present__tip_desc текстура черепицы
					.present__tip.present_house
						.present__tip_pic
							img(src='/static/img/index/collection/icon-house.png', alt='черепица на объекте').present__tip_img
						.present__tip_desc черепица на объекте
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/collection/03.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  абсент
				.present__tips
					.present__tip
						.present__tip_pic
							img(src='/static/img/index/collection/icon-roof.png', alt='черепица').present__tip_img
						.present__tip_desc текстура черепицы
					.present__tip.present_house
						.present__tip_pic
							img(src='/static/img/index/collection/icon-house.png', alt='черепица на объекте').present__tip_img
						.present__tip_desc черепица на объекте
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/collection/04.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  пробка
				.present__tips
					.present__tip
						.present__tip_pic
							img(src='/static/img/index/collection/icon-roof.png', alt='черепица').present__tip_img
						.present__tip_desc текстура черепицы
					.present__tip.present_house
						.present__tip_pic
							img(src='/static/img/index/collection/icon-house.png', alt='черепица на объекте').present__tip_img
						.present__tip_desc черепица на объекте
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/collection/05.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  бордо
				.present__tips
					.present__tip
						.present__tip_pic
							img(src='/static/img/index/collection/icon-roof.png', alt='черепица').present__tip_img
						.present__tip_desc текстура черепицы
					.present__tip.present_house
						.present__tip_pic
							img(src='/static/img/index/collection/icon-house.png', alt='черепица на объекте').present__tip_img
						.present__tip_desc черепица на объекте
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/collection/06.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  алланит
				.present__tips
					.present__tip
						.present__tip_pic
							img(src='/static/img/index/collection/icon-roof.png', alt='черепица').present__tip_img
						.present__tip_desc текстура черепицы
					.present__tip.present_house
						.present__tip_pic
							img(src='/static/img/index/collection/icon-house.png', alt='черепица на объекте').present__tip_img
						.present__tip_desc черепица на объекте
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.
		.present(data-active='tip_house').js-roof
			.present__item
				img(src='/static/img/index/gallery/07.jpg', alt='изображение').present__pic
				strong.present__label Цвет: алланит
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/04.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/01.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/02.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/08.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/03.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.


		.tips
			.tip.tip_roof.js-filter-roof.is_active
				.tip_pic
				.tip_desc текстура черепицы
			.tip.tip_house.js-filter-house
				.tip_pic
				.tip_desc черепица на объекте



	section.collection__wrap.mod_reverse
		.propose
			.propose__item(data-thumb="/static/img/roman/01.jpg")
				.propose__wrap
					img(src='/static/img/roman/01.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  Roman
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/roman/01.jpg")
				.propose__wrap
					img(src='/static/img/roman/01.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  Roman
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/roman/03.jpg")
				.propose__wrap
					img(src='/static/img/roman/03.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  Roman
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/roman/04.jpg")
				.propose__wrap
					img(src='/static/img/roman/04.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  Roman
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог
			.propose__item(data-thumb="/static/img/roman/05.jpg")
				.propose__wrap
					img(src='/static/img/roman/05.png', alt='изображение').propose__pic
					.propose__box
						h5.propose__title  Roman
						p.propose__desc коллекция
						a(href='#').btn.btn__article перейти в каталог

		.present(dir="rtl")
			.present__item
				img(src='/static/img/roman/05.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  абсент

				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/roman/04.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  бордо
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/roman/03.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/roman/02.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  пробка
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/roman/01.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  мокко
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

		.present.js-roof(dir="rtl")
			.present__item
				img(src='/static/img/index/gallery/03.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/08.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/02.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/01.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/04.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.

			.present__item
				img(src='/static/img/index/gallery/07.jpg', alt='изображение').present__pic
				strong.present__label Цвет:  коралл
				.present__text
					p.present__text_desc Форма LUXARD Classic создана для искушённых ценителей лучшего. Изящество деталей и плавная форма панели LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.


		.tips
			.tip.tip_roof.js-filter-roof.is_active
				.tip_pic
				.tip_desc текстура черепицы
			.tip.tip_house.js-filter-house
				.tip_pic
				.tip_desc черепица на объекте
	a(href='#').btn.btn__hide подбор цвета черепицы
