.complect
	.complect__pic
		img(src='static/img/complect/05.jpg', alt='изображение')
	.complect__content
		h6.complect__title Проходной элемент
		.complect__text
			p.complect__desc Размеры ДхШхВ: 380 х 290 х 34 мм
			p.complect__desc Вес: 1,5 кг
		.complect__footer
			.complect__price
				strong 3 000
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/06.jpg', alt='изображение')
	.complect__content
		h6.complect__title Аэроэлемент конька/хребта BWK
		.complect__text
			p.complect__desc Размеры ДхШ: 5000 х 300 мм
			p.complect__desc Цвета: коричневый, красный
		.complect__footer
			.complect__price
				strong 750
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/07.jpg', alt='изображение')
	.complect__content
		h6.complect__title Зажим ендовы (скоба)
		.complect__text
			p.complect__desc Размеры ДхШ: 1250х140 мм
			p.complect__desc Цвет: красный
			p.complect__desc Вес: 0,01 кг
		.complect__footer
			.complect__price
				strong 65
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/08.jpg', alt='изображение')
	.complect__content
		h6.complect__title Вентиляционная лента
		.complect__text
			p.complect__desc Размеры ДхШ х В: 5000 х 300 мм
			p.complect__desc Вес: 1,8 кг
		.complect__footer
			.complect__price
				strong 300
				small Руб/шт
			button.complect__buy Купить

.complect
	.complect__pic
		img(src='static/img/complect/04.jpg', alt='изображение')
	.complect__content
		h6.complect__title Примыкание бытовое
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х100х110 мм
			p.complect__desc Вес: 1,8 кг
		.complect__footer
			.complect__price
				strong 1 600
				small Руб/м
					sup 2
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/03.jpg', alt='изображение')
	.complect__content
		h6.complect__title Ендова
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х140 мм
			p.complect__desc Высота боковых стенок: 40 мм
			p.complect__desc Вес: 2,4 кг
		.complect__footer
			.complect__price
				strong 2 200
				small Руб/м
					sup 2
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/02.jpg', alt='изображение')
	.complect__content
		h6.complect__title Конёк полукруглый
		.complect__text
			p.complect__desc Размеры ДхШхВ: 395х148х148 мм
			p.complect__desc Радиус: 74 мм
			p.complect__desc Вес: 0,56 кг
		.complect__footer
			.complect__price
				strong 800
				small Руб/м
					sup 2
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/01.jpg', alt='изображение')
	.complect__content
		h6.complect__title Планка торцевая (левая, правая) Планка торцевая (левdddая, правая)
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Вес: 1,6 кг
		.complect__footer
			.complect__price
				strong 1 400
				small Руб/м
					sup 2
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/08.jpg', alt='изображение')
	.complect__content
		h6.complect__title Вентиляционная лента
		.complect__text
			p.complect__desc Размеры ДхШ х В: 5000 х 300 мм
			p.complect__desc Вес: 1,8 кг
		.complect__footer
			.complect__price
				strong 300
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/07.jpg', alt='изображение')
	.complect__content
		h6.complect__title Зажим ендовы (скоба)
		.complect__text
			p.complect__desc Размеры ДхШ: 1250х140 мм
			p.complect__desc Цвет: красный
			p.complect__desc Вес: 0,01 кг
		.complect__footer
			.complect__price
				strong 65
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/06.jpg', alt='изображение')
	.complect__content
		h6.complect__title Аэроэлемент конька/хребта BWK
		.complect__text
			p.complect__desc Размеры ДхШ: 5000 х 300 мм
			p.complect__desc Цвета: коричневый, красный
		.complect__footer
			.complect__price
				strong 750
				small Руб/шт
			button.complect__buy Купить
.complect
	.complect__pic
		img(src='static/img/complect/05.jpg', alt='изображение')
	.complect__content
		h6.complect__title Проходной элемент
		.complect__text
			p.complect__desc Размеры ДхШхВ: 380 х 290 х 34 мм
			p.complect__desc Вес: 1,5 кг
		.complect__footer
			.complect__price
				strong 3 000
				small Руб/шт
			button.complect__buy Купить