.complectations.is_animated#app
	h2.title__article комплектующие

	.bg-complect
		.complectations__wrap
			.complectations__box
				include component.pug
				include component-02.pug

			include pagination.pug
