.complectations.is_animated#app
	h2.title__article комплектующие

	.bg-complect
		.complectations__wrap
			.complectations__box
				include component.pug
				include component.pug
				include component.pug
				include component.pug

			.pagination
				a(href='#').pagination__left
				ul.pagination__list
					li.pagination__item.is_active
						a(href='#').pagination__link 1
					li.pagination__item
						a(href='#').pagination__link 2
					li.pagination__item
						a(href='#').pagination__link 3
					li.pagination__item
						a(href='#').pagination__link 4
					li.pagination__item
						a(href='#').pagination__link 5
					li.pagination__item.is_hiden
						a(href='#').pagination__link ...
					li.pagination__item
						a(href='#').pagination__link 10

				a(href='#').pagination__right
