a(href='#').complect
	.complect__pic
		img(src='/static/img/complect/01.jpg', alt='изображение')
	.complect__content
		h6.complect__title Планка торцевая (левая, правая)
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Вес: 1,6 кг
		.complect__footer
			.complect__price
				strong 1 400
				small Руб/м
					sup 2
			button.complect__buy Купить
a(href='#').complect
	.complect__pic
		img(src='/static/img/complect/01.jpg', alt='изображение')
	.complect__content
		h6.complect__title Планка торцевая (левая, правая)
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Вес: 1,6 кг
			p.complect__desc Вес: 1,6 кг
		.complect__footer
			.complect__price
				strong 1 400
				small Руб/м
					sup 2
			button.complect__buy Купить
a(href='#').complect
	.complect__pic
		img(src='/static/img/complect/01.jpg', alt='изображение')
	.complect__content
		h6.complect__title Планка торцевая (левая, правая)
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Вес: 1,6 кг
		.complect__footer
			.complect__price
				strong 1 400
				small Руб/м
					sup 2
			button.complect__buy Купить
a(href='#').complect
	.complect__pic
		img(src='/static/img/complect/01.jpg', alt='изображение')
	.complect__content
		h6.complect__title Планка торцевая (левая, правая)
		.complect__text
			p.complect__desc Размеры ДхШхВ: 1250х89х109 мм
			p.complect__desc Вес: 1,6 кг
		.complect__footer
			.complect__price
				strong 1 400
				small Руб/м
					sup 2
			button.complect__buy Купить