section.section.is_animated.mod_last.mod_titleBig
	h3.title__article документация
	.docs
		.doc
			.doc__pic
				img(src='static/img/docs/01.jpg', alt='изображение').doc__img
			.doc__content
				h6.doc__title Сертификат соответствия ГОСТ Р
				table.doc__table
					tr
						td.doc__table_title Страна:
						td Россия
					tr
						td.doc__table_title Материал:
						td Черепица кровельная композитная Luxard и комплектующие к ней
				a(href='#', role='button').btn Скачать

		.doc
			.doc__pic
				img(src='static/img/docs/02.jpg', alt='изображение').doc__img
			.doc__content
				h6.doc__title Декларация соответствия
				table.doc__table
					tr
						td.doc__table_title Страна:
						td Россия
					tr
						td.doc__table_title Материал:
						td Черепица кровельная композитная Luxard и комплектующие к ней
				a(href='#', role='button').btn Скачать

		.doc
			.doc__pic
				img(src='static/img/docs/03.jpg', alt='изображение').doc__img
			.doc__content
				h6.doc__title Сертификат соответствия ГОСТ Р
				table.doc__table
					tr
						td.doc__table_title Страна:
						td Россия
					tr
						td.doc__table_title Материал:
						td Черепица кровельная композитная Luxard и комплектующие к ней
				a(href='#', role='button').btn Скачать
