article.gallery.popup_class.is_animated
	h3.title__article ФОТОгалерея
	.gallery__row
		a( data-fancybox="gallery-01", data-caption="Caption #1", href="static/img/index/gallery/01.jpg").gallery__item
			img(src='static/img/index/gallery/01.jpg', alt='изображение').gallery__pic

		a( data-fancybox="gallery-02", data-caption="Caption #1", href="static/img/index/gallery/02.jpg").gallery__item
			img(src='static/img/index/gallery/02.jpg', alt='изображение').gallery__pic

		a( data-fancybox="gallery-03" href="static/img/index/gallery/03.jpg").gallery__item
			img(src='static/img/index/gallery/03.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery-04" href="static/img/index/gallery/04.jpg").gallery__item
			img(src='static/img/index/gallery/04.jpg', alt='изображение').gallery__pic
	.gallery__row
		a( data-fancybox="gallery-05" href="static/img/index/gallery/05.jpg").gallery__item
			img(src='static/img/index/gallery/05.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery-06" href="static/img/index/gallery/06.jpg").gallery__item
			img(src='static/img/index/gallery/06.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery-07" href="static/img/index/gallery/07.jpg").gallery__item
			img(src='static/img/index/gallery/07.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery-08" href="static/img/index/gallery/08.jpg").gallery__item
			img(src='static/img/index/gallery/08.jpg', alt='изображение').gallery__pic
	a(href='#').btn перейти в галерею