article.gallery.popup_class.is_animated
	h3.title__section ФОТОгалерея
	.gallery__row
		a(data-overlay="gallery-01" href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/01.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-02", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/02.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-03", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/03.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-04", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/04.jpg', alt='изображение').gallery__pic
	.gallery__row
		a( data-overlay="gallery-05", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/05.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-06", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/06.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-07", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/07.jpg', alt='изображение').gallery__pic
		a( data-overlay="gallery-08", href="#").gallery__item.js-gallery
			img(src='static/img/index/gallery/08.jpg', alt='изображение').gallery__pic
	a(href='#').btn перейти в галерею