article.gallery.popup_class.is_animated
	h3.title__article ФОТОгалерея
	.gallery__row
		a( data-fancybox="gallery" href="/static/img/index/gallery/01.jpg").gallery__item
			img(src='/static/img/index/gallery/01.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/02.jpg").gallery__item
			img(src='/static/img/index/gallery/02.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/03.jpg").gallery__item
			img(src='/static/img/index/gallery/03.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/04.jpg").gallery__item
			img(src='/static/img/index/gallery/04.jpg', alt='изображение').gallery__pic
	.gallery__row
		a( data-fancybox="gallery" href="/static/img/index/gallery/05.jpg").gallery__item
			img(src='/static/img/index/gallery/05.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/06.jpg").gallery__item
			img(src='/static/img/index/gallery/06.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/07.jpg").gallery__item
			img(src='/static/img/index/gallery/07.jpg', alt='изображение').gallery__pic
		a( data-fancybox="gallery" href="/static/img/index/gallery/08.jpg").gallery__item
			img(src='/static/img/index/gallery/08.jpg', alt='изображение').gallery__pic
	a(href='#').btn перейти в галерею