article.info
	.info__header
		.info__item
			img(src='/static/img/icon-layouts.png', alt='изображение').info__icon
			span.info__label многослойность
		.info__item
			img(src='/static/img/icon-3d.png', alt='изображение').info__icon
			span.info__label трёхмерный <br> цвет и фактура
		.info__item
			img(src='/static/img/icon-infinity.png', alt='изображение').info__icon
			span.info__label долговечность
		.info__item
			img(src='/static/img/icon-rock.png', alt='изображение').info__icon
			span.info__label на основе <br> базальта
	.info__content
		p.info__desc
			strong Композитная черепица ТЕХНОНИКОЛЬ LUXARD®
			| – это новое слово в кровельной индустрии. Неповторимое сочетание технологичной композиции из алюцинка c гранулами натурального камня – для тех, кто ценит престиж и надёжность.
	a(href='#').btn узнать больше