article.info.is_animated
	.info__header
		.info__item
			.info__icon
				img(src='static/img/weight.svg', alt='изображение')
			span.info__label лёгкий вес
		.info__item
			.info__icon
				img(src='static/img/safe.svg', alt='изображение')
			span.info__label надёжность
		.info__item
			.info__icon
				img(src='static/img/quiet.svg', alt='изображение')
			span.info__label сохраняет <br> тишину
		.info__item
			.info__icon
				img(src='static/img/beauty.svg', alt='изображение')
			span.info__label украшение <br> любого здания
		.info__item
			.info__icon
				img(src='static/img/temperature.svg', alt='изображение')
			span.info__label стойкость <br> к перепадам <br> температур
		.info__item
			.info__icon
				img(src='static/img/picturesque.svg', alt='изображение')
			span.info__label живописная <br> кровля
	.info__content
		p.info__desc
			strong Композитная черепица ТЕХНОНИКОЛЬ LUXARD®
			| – это новое слово в кровельной индустрии. Неповторимое сочетание технологичной композиции из алюцинка c гранулами натурального камня – для тех, кто ценит престиж и надёжность.
	a(href='#').btn узнать больше