.jumbotron
	.jumbotron__wrap
		img(src='/static/img/index/jumb-01.jpg', alt='изображение').jumbotron__img
		.jumbotron__content
			.jumbotron__figure
				img(src='/static/img/index/jumbSmall-01.png', alt='изображение')
			.jumbotron__mark
				.jumbotron__mark_border
				.jumbotron__mark_border.mod_bottom
				p.jumbotron__mark_desc Композитная черепица
					strong технониколь luxard
			h2.jumbotron__title трёхмерный цвет <br> и фактура
			.jumbotron__footer
				a(href='#').jumbotron__link где купить
				a(href='#').jumbotron__link найти подрядчика
	.jumbotron__wrap
		img(src='/static/img/index/jumb-01.jpg', alt='изображение').jumbotron__img
		.jumbotron__content
			.jumbotron__figure
				img(src='/static/img/index/jumbSmall-01.png', alt='изображение')
			.jumbotron__mark
				.jumbotron__mark_border
				.jumbotron__mark_border.mod_bottom
				p.jumbotron__mark_desc Композитная черепица
					strong технониколь luxard
			h2.jumbotron__title трёхмерный цвет <br> и фактура
			.jumbotron__footer
				a(href='#').jumbotron__link где купить
				a(href='#').jumbotron__link найти подрядчика