article.magazin.is_animated
	.magazin__pic
		img(src='static/img/index/magzin-items-01.png', alt='изображение').magazin__img
	.magazin__content
		h3.magazin__title интернет- магазин технониколь
		p.magazin__desc Изучите полный ассортимент композитной черепицы и комплектующих элементов от ТЕХНОНИКОЛЬ LUXARD в нашем официальном интернет-магазине.
		a(href='#').btn.btn__article перейти в магазин
