section.section.is_animated.mod_ptzero
	.section__inland
		h3.title__section.title-smallBottom Монтаж мембраны
		h6.title__sub Укладка гидроизоляционной мембраны
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/01.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/01-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/01.jpg', alt='изображение').mount__img
				p.mount__desc При укладке диффузионной мембраны отступите от лобовой доски 2 см.

		.mount
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/02.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/02-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/02.jpg', alt='изображение').mount__img
					p.mount__desc Если скат ограничен фронтоном, то свесьте <br> с фронтона мембрану на 20 см.
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/03.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/03-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/03.jpg', alt='изображение').mount__img
					p.mount__desc Поверх ребра смонтируйте полосу шириной <br> не менее 30 см.

		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/04.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/04-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/04.jpg', alt='изображение').mount__img
				p.mount__desc В ендове вертикальный перехлёст полотен составляет 30 см.  Вдоль оси ендовы дополнительно <br> монтируется полоса не менее 120 см.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom Монтаж обрешётки

		.mount
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/06.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/06-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/06.jpg', alt='изображение').mount__img
					p.mount__desc В ендове смонтируйте опорный настил толщиной 25 мм <br> и шириной 150 мм от оси ендовы в каждую сторону. <br> Вдоль опорного настила установите бруски 50х50 мм.
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/07.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/07-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/07.jpg', alt='изображение').mount__img
					p.mount__desc Создайте зазор 5 см между контррейкой <br> и бруском в ендове.

		.mount
			.mount__dubl
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/08.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/08-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/08.jpg', alt='изображение').mount__img
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/09.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/09-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/09.jpg', alt='изображение').mount__img
			p.mount__desc Монтаж обрешётки рекомендуется выполнять снизу вверх. Нижний брус обрешётки механически зафиксируйте <br> с отступом 50 мм от свеса контробрешетки. Последующие ряды монтируйте с постоянным шагом. <br> При этом шаг обрешётки определяется по месту, с учётом нахлёстов панелей, и ориентировочно <br> равен 367 мм для панелей Classic, 370 мм для панелей Roman.

section.section.is_animated.mod_inner
	.section__inland
		h3.title__section.title-smallBottom Монтаж вентиляционной ленты
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/10.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/10-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/10.jpg', alt='изображение').mount__img
				p.mount__desc После окончания работ по монтажу контробрешётки и шаговой обрешётки под панели <br> ТЕХНОНИКОЛЬ LUXARD вдоль фронтона смонтируйте карнизную вентиляционную ленту, <br> закрепив её к нижнему брусу обрешётки и лобовой доске.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom Монтаж карнизной планки
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/11.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/11-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/11.jpg', alt='изображение').mount__img
				p.mount__desc Закрепите металлическую карнизную планку верхней полкой (короткой стороной) на первый брус <br> шаговой обрешётки, а второй полкой уприте на опорную доску на свесах контрообрешётки.  <br> Зафиксируйте планку специальными гвоздями либо специальными саморезами <br> с шагом 25 см в верхнюю полку к брусу шаговой обрешётки.

section.section.is_animated.mod_inner
	.section__inland
		h3.title__section.title-smallBottom Крепление панелей ТЕХНОНИКОЛЬ LUXARD
		.mount
			.mount__dubl
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/12.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/12-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/12.jpg', alt='изображение').mount__img
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/13.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/13-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/13.jpg', alt='изображение').mount__img
			p.mount__desc Крепите панели ТЕХНОНИКОЛЬ LUXARD специальными гальванизированными гвоздями либо саморезами, <br> за исключением панелей Roman. Крепление основания панелей Roman производите только с помощь <br> специальных гальванизированных саморезов.
		.mount
			.mount__dubl
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/14.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/14-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/14.jpg', alt='изображение').mount__img
				.mount-half
					.mount-wide
						picture.mount__pic
							source(srcset="static/img/mount/15.jpg" media="(min-width: 650px)")
							source(srcset="static/img/mount/15-m.jpg" media="(max-width: 649px)")
							img(src='static/img/mount/15.jpg', alt='изображение').mount__img
			p.mount__desc Монтаж черепицы производите снизу вверх. Гвозди и саморезы в основание панели устанавить под углом 600 <br> к плоскости ската и в том месте, где волна касается деревянной шаговой обрешётки.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom Примыкание к фронтону
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/16.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/16-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/16.jpg', alt='изображение').mount__img
				p.mount__desc Примыкающие к фронтону панели Luxard обрежьте с учётом напуска 2,5 см на наличник и выполните отгиб панели вверх.

section.section.is_animated.mod_inner
	.section__inland
		h3.title__section.title-smallBottom Монтаж фронтонной планки
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/17.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/17-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/17.jpg', alt='изображение').mount__img
				p.mount__desc Торцевые планки монтируйте снизу вверх. Зафиксируйте планки гвоздями (саморезами) <br> для Luxard к наличнику сверху и сбоку с шагом 25 см.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom Ендова, заканчивающаяся на карнизе
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/18.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/18-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/18.jpg', alt='изображение').mount__img
				p.mount__desc Водосборные элементы ендовы смонтируйте вдоль оси снизу вверх. Зафиксируйте элемент ендовы при помощи <br> специальных металлических клямеров с шагом 25–30 см. Каждый вышележащий элемент ендовы заведите <br> в нижележащий и зафиксируйте при помощи кляммеров.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/19.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/19-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/19.jpg', alt='изображение').mount__img
				p.mount__desc На бортах (слева и справа) лотков ендовы наклейте специальный поролоновый уплотнитель.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/20.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/20-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/20.jpg', alt='изображение').mount__img
				p.mount__desc Панель композитной черепицы ТЕХНОНИКОЛЬ LUXARD заведите на элемент ендовы на 8 см и загните вниз так, <br> чтобы расстояние между нижним отгибом композитной черепицы и элементом ендовы составляло 1 см.

section.section.is_animated.mod_inner
	.section__inland
		h3.title__section.title-smallBottom Монтаж ребра, конька
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/21.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/21-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/21.jpg', alt='изображение').mount__img
				p.mount__desc Для крепления коньковых и рёберных элементов необходимо смонтировать брус при помощи металлического <br> крепежа с шагом 600 мм. Рекомендованное сечение хребтового бруса 50х50 мм.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/22.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/22-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/22.jpg', alt='изображение').mount__img
				p.mount__desc На коньковый брус монтируется рулонный аэроэлемент самоклеящимися полосами вниз.

		.mount
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/23.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/23-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/23.jpg', alt='изображение').mount__img
				p.mount__desc Полукруглые коньковые элементы смонтируйте <br> снизу вверх с нахлёстом 2 см фиксируя их <br> гвоздями (саморезами) для Luxard.
			.mount-half
				.mount-wide
					picture.mount__pic
						source(srcset="static/img/mount/24.jpg" media="(min-width: 650px)")
						source(srcset="static/img/mount/24-m.jpg" media="(max-width: 649px)")
						img(src='static/img/mount/24.jpg', alt='изображение').mount__img
				p.mount__desc Торец первого конька закройте заглушкой.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom Примыкание к трубе
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/25.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/25-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/25.jpg', alt='изображение').mount__img
				p.mount__desc Смонтируйте панель Luxard, примыкающую к нижней части трубы с отгибом на 3 см. Аналогично с отгибом <br> выполните монтаж панелей, примыкающих к боковым частям трубы.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/26.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/26-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/26.jpg', alt='изображение').mount__img
				p.mount__desc Над трубой выполните сплошной настил из досок толщиной 25 мм.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/27.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/27-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/27.jpg', alt='изображение').mount__img
				p.mount__desc Планку примыкания к вертикальной стене подрежьте по месту и загните на боковые части трубы.
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/28.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/28-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/28.jpg', alt='изображение').mount__img
				p.mount__desc Примыкание с тыльной стороны трубы выполняется из плоского листа Luxard (1250х600 мм). Ширина выкройки <br> складывается из ширины трубы плюс 20 см.

section.section.is_animated.mod_inner
	.section__inland
		h3.title__section.title-smallBottom МОНТАЖ аэроэлемента
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/29.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/29-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/29.jpg', alt='изображение').mount__img
				p.mount__desc Аэроэлемент подкровельного пространства Luxard выполнен в виде двух волн панели и монтируется <br> аналогично рядовым панелям.

section.section.is_animated.mod_inner.bg-darken
	.section__inland
		h3.title__section.title-smallBottom МОНТАЖ закончен
		.mount
			.mount-wide
				picture.mount__pic
					source(srcset="static/img/mount/30.jpg" media="(min-width: 650px)")
					source(srcset="static/img/mount/30-m.jpg" media="(max-width: 649px)")
					img(src='static/img/mount/30.jpg', alt='изображение').mount__img
