section.section.mod_last.is_animated.mod_short-pt
	.section__inner
		a(href='#').pagePrev Вернуться к списку новостей
	.section__inner
		h3.title__article Композитная черепица ТЕХНОНИКОЛЬ LUXARD по специальным ценам 2016 года
		time(datetime="2016-02-06").heading__time 06.02.2017
		.section__inside
			.new__box.text-left
				img(src='static/img/news/12.jpg', alt='изображение').pic-half
				p.new__desc ТЕХНОНИКОЛЬ LUXARD — надежная и долговечная композитная черепица на основе качественных и безопасных материалов, это сочетание лучшего опыта и новейших технологий производства. Коллекция ROMAN повторяет рельеф натуральной керамической черепицы и гармонично впишется в любой архитектурный проект, а дополнительный эффект объема кровле придаст глубокий цвет и оригинальное сочетание оттенков.
				p.new__desc Только с 1 сентября по 31 декабря 2016 года панели ТЕХНОНИКОЛЬ LUXARD коллекции ROMAN великолепной многоцветной палитры: со скидкой – 15%! Черепица цветов «Оникс», «Гранат», «Малахит», всего по 459 рублей за один лист. Спешите сделать выбор в пользу высококачественной и красивой кровли ТЕХНОНИКОЛЬ LUXARD.