section.section.mod_first.is_animated.mod_pages
	h3.title__article новости
	.section__inner
		.new
			a(href='#').news__pic
				img(src='static/img/news/01.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Новая форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc В сентябре 2012 г. Корпорация ТехноНИКОЛЬ представила новую форму композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/02.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Гарантия на ТЕХНОНИКОЛЬ LUXARD теперь в онлайн режиме
				p.news__desc На нашем сайте запущен сервис для формирования гарантийного сертификата на материал LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/03.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Многоцветная палитра ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc Корпорация ТехноНИКОЛЬ представила многоцветную палитру композитной черепицы LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016

		.new
			a(href='#').news__pic
				img(src='static/img/news/04.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Новая форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc В сентябре 2012 г. Корпорация ТехноНИКОЛЬ представила новую форму композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/05.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Гарантия на ТЕХНОНИКОЛЬ LUXARD теперь в онлайн режиме
				p.news__desc На нашем сайте запущен сервис для формирования гарантийного сертификата на материал LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/06.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Многоцветная палитра ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc Корпорация ТехноНИКОЛЬ представила многоцветную палитру композитной черепицы LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016

		.new
			a(href='#').news__pic
				img(src='static/img/news/07.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Новая форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc В сентябре 2012 г. Корпорация ТехноНИКОЛЬ представила новую форму композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/08.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Гарантия на ТЕХНОНИКОЛЬ LUXARD теперь в онлайн режиме
				p.news__desc На нашем сайте запущен сервис для формирования гарантийного сертификата на материал LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/03.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Многоцветная палитра ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc Корпорация ТехноНИКОЛЬ представила многоцветную палитру композитной черепицы LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016

		.new
			a(href='#').news__pic
				img(src='static/img/news/09.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Новая форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc В сентябре 2012 г. Корпорация ТехноНИКОЛЬ представила новую форму композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/10.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Гарантия на ТЕХНОНИКОЛЬ LUXARD теперь в онлайн режиме
				p.news__desc На нашем сайте запущен сервис для формирования гарантийного сертификата на материал LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016
		.new
			a(href='#').news__pic
				img(src='static/img/news/11.jpg', alt='изображение').news__img
			.news__content
				a(href='#').news__title Многоцветная палитра ТЕХНОНИКОЛЬ LUXARD Roman
				p.news__desc Корпорация ТехноНИКОЛЬ представила многоцветную палитру композитной черепицы LUXARD.
				time(datetime="2016-01-01").news__time 01.01.2016