article.news.is_animated
	h3.title__article новости
	section.news__section
		a(href='#').news__link
				.news__pic
					img(src='/static/img/index/news/01.jpg', alt='изображение').news__img
				.news__content
					h4.news__title Новая форма <wbr> композитной <wbr> черепицы <wbr>  LUXARD – ROMAN
					p.news__desc В сентябре 2012 г. Корпорация <wbr>  ТехноНИКОЛЬ <wbr> представила <wbr> новую форму <wbr> композитной <wbr> черепицы <wbr> LUXARD – ROMAN.
					time(datetime="2016-01-01").news__time 01.01.2016
		a(href='#').news__link
				.news__pic
					img(src='/static/img/index/news/02-1.jpg', alt='изображение').news__img
				.news__content
					h4.news__title Многоцветная <wbr> палитра <wbr> LUXARD Roman
					p.news__desc Корпорация <wbr>ТехноНИКОЛЬ<wbr> представила <wbr> многоцветную <wbr> палитру композитной <wbr>  черепицы LUXARD.
					time(datetime="2016-01-01").news__time 01.01.2016
		a(href='#').news__link
				.news__pic
					img(src='/static/img/index/news/03.jpg', alt='изображение').news__img
				.news__content
					h4.news__title  Гарантия на <wbr>  LUXARD <wbr> теперь в <wbr> онлайн <wbr> режиме
					p.news__desc На нашем <wbr> сайте <wbr> запущен сервис <wbr> для формирования <wbr> гарантийного сертификата <wbr> на материал <wbr> LUXARD
					time(datetime="2016-01-01").news__time 01.01.2016
		a(href='#').news__link
				.news__pic
					img(src='/static/img/index/news/04.jpg', alt='изображение').news__img
				.news__content
					h4.news__title Композитная <wbr> черепица <wbr> ТЕХНОНИКОЛЬ  LUXARD <wbr> по специальным <wbr> ценам
					p.news__desc ТЕХНОНИКОЛЬ <wbr> LUXARD — <wbr> надежная и <wbr>долговечная композитная <wbr> черепица.
					time(datetime="2016-01-01").news__time 01.01.2016
	a(href='#', role='button').btn архив новостей
