div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/03.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть

div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/06.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть

div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/03.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/03.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть

div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/04.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть
div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/05.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/05.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть

div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/06.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/06.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть
div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/07.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/07.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть
div.popup.popupPeople
	div.popup-wrap
		section.subject
			.subject__pic
				img(src='static/img/index/gallery/08.jpg', alt="")
		section.preview
			.preview__pic
				img(src='static/img/index/gallery/08.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/01.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/02.jpg', alt="")
			.preview__pic
				img(src='static/img/index/gallery/04.jpg', alt="")

	div.popup-controls
		div.popupPeople-btnWrap__open
			span.popup-btn__prev Назад
			span.popup-btn__next Вперед
		span.popup-btn__close.popupPeople-btn__close Закрыть




