- var gal01 = ['static/img/index/gallery/01.jpg','static/img/index/gallery/02.jpg', 'static/img/index/gallery/03.jpg', 'static/img/index/gallery/04.jpg'];


.overlay
	.overlay__wrap
	.pic-01.popPic
		a(href='#').btn__close
			span
			span
			span
		.bigCarusel
			each picture in gal01
				.bigCarusel__item
					img(src=picture, alt='изображение').bigCarusel__item_img
		.fanCaption
			.fanCaption__color
				.fanCaption__color_pic
					img(src='static/img/gallery/colors/allanit.jpg').fanCaption__color_pic-img
				.fanCaption__text
					p цвет
					a(href='#') алланит
			.fanCaption__collection
				.fanCaption__text
					p коллекция технониколь
					a(href='#') luxard classic
			.fanCaption__location
				i.icon-locate
				.fanCaption__box
					strong Загородный дом
					p Казахстан. Астана.
						span Посёлок Кордай.
