section.section.is_animated
	h2.title__article разнообразие

	.presentation.presentation-short
		.pre.pre-left
			.presentation__item
				img(src='/static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title кора
						.buy
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
			.presentation__item
				img(src='/static/img/index/collection/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title коралл
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2

		.pre.pre-right
			.presentation__item
				.presentation__box(data-desc='коралл')
					img(src='/static/img/index/collection/01.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='кора')
					img(src='/static/img/index/collection/02.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить


