section.section.is_animated.mod_titleBig
	h2.title__article разнообразие

	.presentation.presentation-short
		.pre.pre-left
			.presentation__item
				img(src='static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title коралл
						.buy
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/index/collection/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title мокко
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/index/collection/03.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title абсаент
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/index/collection/04.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title пробка
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/index/collection/05.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title бордо
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/index/collection/06.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title алланит
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2

		.pre.pre-right
			.presentation__item
				.presentation__box(data-desc='коралл')
					img(src='static/img/index/collection/01.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='мокко')
					img(src='static/img/index/collection/02.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='абсаент')
					img(src='static/img/index/collection/03.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='пробка')
					img(src='static/img/index/collection/04.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='бордо')
					img(src='static/img/index/collection/05.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='алланит')
					img(src='static/img/index/collection/06.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

		.pre.pre-center
			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title коралл

			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title мокко

			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/03.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title абсаент

			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/04.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title пробка

			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/05.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title бордо

			.presentation__item
				.presentation__pic
					img(src='static/img/index/collection/06.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title алланит

