section.section.is_animated.mod_titleBig
	h2.title__article разнообразие

	.presentation.presentation-short
		.pre.pre-left
			.presentation__item
				img(src='/static/img/roman/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title мокко
						.buy
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
			.presentation__item
				img(src='/static/img/roman/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title пробка
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='/static/img/roman/03.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title коррал
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='/static/img/roman/04.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title бордо
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='/static/img/roman/05.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title абсент
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2

		.pre.pre-right
			.presentation__item
				.presentation__box(data-desc='мокко')
					img(src='/static/img/roman/01.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='пробка')
					img(src='/static/img/roman/02.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='коррал')
					img(src='/static/img/roman/03.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='бордо')
					img(src='/static/img/roman/04.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='абсент')
					img(src='/static/img/roman/05.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							a(href='#').buy__btn купить



