section.section.is_animated.mod_titleBig
	h2.title__article разнообразие

	.presentation.presentation-hide
		.pre.pre-left
			.presentation__item
				img(src='static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/index/collection/02.png', alt='изображение')
					.presentation__text
						h4.presentation__title classic
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию
			.presentation__item
				img(src='static/img/index/collection/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/index/collection/01.png', alt='изображение')
					.presentation__text
						h4.presentation__title classic
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию

		.pre.pre-right
			.presentation__item
				img(src='static/img/index/collection/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/index/collection/01.png', alt='изображение')
					.presentation__text
						h4.presentation__title classic
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию
			.presentation__item
				img(src='static/img/index/collection/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					img(src='static/img/index/collection/02.png', alt='изображение')
					.presentation__text
						h4.presentation__title classic
						p.presentation__desc коллекция
						a(href='#').presentation__link Смотреть коллекцию
