section.section.is_animated.mod_titleBig
	h2.title__section разнообразие

	.presentation.presentation-short
		.pre.pre-left
			.presentation__item
				img(src='static/img/roman/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title мокко
						.buy
							.buy__price
								strong 222 200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title пробка
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/03.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title коррал
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/04.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title бордо
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/05.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title абсент
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/06.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title Алланит
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/07.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title гранат
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/08.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title малахит
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2
			.presentation__item
				img(src='static/img/roman/09.jpg', alt='изображение').presentation__bg
				.presentation__box
					.presentation__content
						.presentation__content_head
							h4.presentation__content_title оникс
						.buy
							.buy__price
								strong 2200
								span Руб/м
									sup 2

		.pre.pre-right
			.presentation__item
				.presentation__box(data-desc='мокко')
					img(src='static/img/roman/01.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='пробка')
					img(src='static/img/roman/02.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='коррал')
					img(src='static/img/roman/03.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='бордо')
					img(src='static/img/roman/04.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='абсент')
					img(src='static/img/roman/05.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить
			.presentation__item
				.presentation__box(data-desc='Алланит')
					img(src='static/img/roman/06.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить
			.presentation__item
				.presentation__box(data-desc='гранат')
					img(src='static/img/roman/07.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить
			.presentation__item
				.presentation__box(data-desc='малахит')
					img(src='static/img/roman/08.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

			.presentation__item
				.presentation__box(data-desc='оникс')
					img(src='static/img/roman/09.png', alt='изображение')
					.presentation__content
						.buy.mod_right
							.buy__price
								strong 2200
								span Руб/м
									sup 2
							a(href='#').buy__btn купить

		.pre.pre-center
			.presentation__item
				.presentation__pic
					img(src='static/img/roman/01.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title мокко

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/02.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title пробка

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/03.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title коррал

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/04.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title бордо

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/05.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title абсаент

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/06.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title Алланит

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/07.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title гранат

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/08.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title малахит

			.presentation__item
				.presentation__pic
					img(src='static/img/roman/09.jpg', alt='изображение').presentation__bg
				.presentation__box
					h4.presentation__box_title оникс




