article.specifications
	.specifications-left
	.specifications-right
	.specifications__wrap
		h4.specifications__title технические характеристики
		table.specifications__table
			tr
				td Размеры (Д х Ш)
				td 415 х 1350
			tr
				td Полезная площадь
				td 0,47 м
					em 2
			tr
				td Шаг обрешётки
				td 367 мм
			tr
				td Вес панели
				td 3,5 кг
			tr
				td Норма расхода
				td 2,13 шт/м
					em 2
