.spec__wrap
	a(href='#').btn__spec.js-spec Показать технические характеристики
article.specifications.is_animated
	.specifications-left
	.specifications-right
	.specifications__wrap
		table.specifications__table
			tr
				td Размеры (Д х Ш)
				td 415 х 1350
			tr
				td Полезная площадь
				td 0,47 м
					sup 2
			tr
				td Шаг обрешётки
				td 367 мм
			tr
				td Вес панели
				td 3,5 кг
			tr
				td Норма расхода
				td 2,13 шт/м
					sup 2
