
section.section.is_animated.mod_first.mod_titleBig
	h3.title__article область применения
	.section__text
		p.section__desc Композитная черепица LUXARD применяется при новом строительстве на <br> коттеджных и малоэтажных зданиях, с уклоном наклона кровли от 12° до 90°.
		p.section__desc Гарантийный срок службы — 35 лет.
		p.section__desc Благодаря покрытию из алюцинка композитная черепица LUXARD не подвержена  <br>  коррозии, устойчива к жаре и морозу, не боится резких перепадов температуры и, в  <br>  отличие от керамической кровли, может выдерживать любое количество циклов  <br>  попеременного замораживания и оттаивания. Материал устойчив к УФ-излучению  <br> и сохраняет свой цвет в течение всего срока службы.

section.system.system-classic
	.section__inner
		h3.system__title Система технониколь luxard классик
		h6.system__subTitle Конструкция кровли холодного чердака с высококачественным покрытием LUXARD. Конструкция холодного чердака для зданий и сооружений премиум-класса и выше.
	.section__inland
		.usage
			.usage__list
				strong.usage__strong Преимущества системы:
				p.usage__item Абсолютная герметичность
				p.usage__item Не подвержена коррозии в отличие <br> от металлических кровельных покрытий
				p.usage__item Не шумит во время дождя и града
				p.usage__item Лёгкий вес системы
				p.usage__item Высокая ветроустойчивость

			.usage__pic
				img(src='static/img/use-01.png', alt='изображение')
				span(title="Композитная черепица ТЕХНОНИКОЛЬ LUXARD").tooltip-01.tooltip 1
				span(title="Мембрана супердиффузионная ТЕХНОНИКОЛЬ").tooltip-02.tooltip 2
				span(title="Шаговая обрешетка 40x40; 50x50 мм").tooltip-03.tooltip 3
				span(title="Контрбрус для создания вентзазора").tooltip-04.tooltip 4
				span(title="Стропильная нога").tooltip-05.tooltip 5


section.section__column
	.column__desc Система ТН-ЛЮКСАРД Классик – классическая конструкция с холодным чердаком. Чердак надежно защищает дом от холода, обеспечивает вентиляцию и проветривание конструктивных элементов крыши, значительно повышает ее надежность и долговечность. В качестве несущего основания могут служить деревянная, металлическая или железобетонная конструкция. Важен выбор наружной части крыши, то есть материала кровли. Композитная черепица LUXARD – это разновидность металлочерепицы, обладающая повышенными техническими и эстетическими свойствами. Благодаря верхней базальтовой посыпке и форме самой панели, кровельный материал выглядит тяжелым и массивным, но на самом деле он необыкновенно красивый, легкий и долговечный. При производстве композитной металлочерепицы LUXARD используются самые передовые разработки по нанесению защитных покрытий на поверхность металла. В качестве обрешетки под композитную черепицу используется обрешетка из бруса 40*40, либо 50*50 мм с шагом 365 мм, либо 367 мм в зависимости от выбранного профиля панели LUXARD.

section.system.system-luxard
	.section__inner
		h3.system__title Система технониколь luxard Мансарда
		h6.system__subTitle Конструкция кровли совмещенного чердака (мансарда) с высококачественным покрытием. Конструкция совмещенного чердака для зданий и сооружений премиум-класса.
	.section__inland
		.usage
			.usage__pic
				img(src='static/img/use-02.png', alt='изображение')
				span(title="Композитная черепица ТЕХНОНИКОЛЬ LUXARD").tooltip-11.tooltip-r 1
				span(title="Мембрана супердиффузионная ТЕХНОНИКОЛЬ").tooltip-12.tooltip 2
				span(title="Тепло-, звукоизоляция ТЕХНОЛАЙТ").tooltip-13.tooltip 3
				span(title="Пароизоляция оптима ТЕХНОНИКОЛЬ").tooltip-14.tooltip 4
				span(title="Шаговая обрешетка 40х40; 50х50 мм").tooltip-15.tooltip-r 5
				span(title="Контробрешетка для создания вентзазора").tooltip-16.tooltip-r 6
				span(title="Деревянная рейка для создания провиса пленки").tooltip-17.tooltip-r 7
				span(title="Стропильная нога").tooltip-18.tooltip-r 8
				span(title="Обрешётка под подшивку мансарды").tooltip-19.tooltip-r 9


			.usage__list
				strong.usage__strong Преимущества системы:
				p.usage__item Абсолютная герметичность
				p.usage__item Не подвержена коррозии в отличие <br> от металлических кровельных покрытий
				p.usage__item Не шумит во время дождя и града
				p.usage__item Лёгкий вес системы
				p.usage__item Высокая ветроустойчивость
				p.usage__item Оптимальный микроклимат в мансарде

section.section__column
	.column__desc Классическая конструкция с совмещенным чердаком. В качестве несущего основания могут служить деревянная, металлическая или железобетонная система. Технические решения, используемые в системе, позволяют добиться оптимального микроклимата для комфортного времяпровождения в мансардном этаже. В качестве теплоизоляции мансарды рекомендуется использовать базальтовый негорючий утеплитель ТехноНИКОЛЬ в плитах, который не сползает вниз под воздействием собственного веса и сохраняет свою форму на протяжение всего срока службы здания.С внутренней стороны утеплитель защищен от теплого влажного воздуха пароизоляционной мембраной ТехноНИКОЛЬ. С внешней стороны утеплитель находиться в рабочем состоянии благодаря специальной ветровлагозащитной пленки ТехноНИКОЛЬ и системы подкровельной вентиляции. Классическая форма, изящные изгибы кровельных панелей LUXARD ROMAN и LUXARD CLASSIC будут эффектно сочетаться с остальными элементами Вашего дома, придавая ему неповторимый облик.

.empty-100