extends _layout
block content
	.out.is_animated
		include layout/header.pug
		include module/catalog.pug
		section.section.is_animated.bg-dark.mod_last
			h2.title__article комплектующие
			include module/component__slider.pug
			a(href='#').btn.mod_offset.mod_change_650 перейти в каталог
		include layout/footer.pug