extends _layout
block content
	.out.is_animated
		include layout/header.pug
		include module/all-gallery.pug
		include module/pagination.pug
		include layout/footer.pug
		include module/ppp_gallery_pic.pug


