extends _layout
block content
	.out.is_animated
		include layout/header.pug
		section.section.is_animated.mod_first.mod_titleBig
			.section__inner
				h3.title__article оформление гарантии
				.section__inside
					h6.title__subtitle На данной странице Вы можете оформить гарантию на композитную черепицу ТЕХНОНИКОЛЬ LUXARD. Выберете наиболее удобный для себя способ:
					ol.variants
						li.variant
							a(href='#').variant__link Скачайте
							|  и распечатайте форму гарантийного сертификата и заполните её от руки.
						li.variant
							a(href='#').variant__link Скачайте
							|  и распечатайте форму гарантийного сертификата и заполните её от руки.


		include layout/footer.pug


