extends _layout
block content
	.out.is_animated
		include layout/header.pug
		include module/jumbotron.pug
		include module/info.pug
		include module/collection.pug
		include module/gallery.pug
		include module/magazin.pug
		include module/news.pug
		include layout/footer.pug
		include module/ppp_gallery.pug