extends _layout
block content
	.out.is_animated
		include layout/header.pug
		include module/jumbotron.pug
		include module/info.pug
		include module/prod_slider.pug
		include module/specifications.pug

		include layout/footer.pug
