extends _layout
block content
	.out.is_animated.product-page
		include layout/header.pug
		.jumbotron.is_animated.mod_short
			.jumbotron__wrap
				img(src='static/img/catalog/classic.jpg', alt='изображение').jumbotron__img
				.jumbotron__content.mod-at-center
					.jumbotron__stamp
						img(src="static/img/stamp.png", alt="изображение")
					.jumbotron__subTitle
						h3.jumbotron__title classic
						p.jumbotron__desc Коллекция
						img(src="static/img/catalog/stamp-800.png", alt="").garanty-stamp
						.jumbotron__footer
							a(href='#').jumbotron__link смотреть коллекцию ROMAN
							a(href='#').jumbotron__link смотреть комплектующие
		article.info.is_animated
			.info__header
				.info__item
					.info__icon
						img(src='static/img/weight.svg', alt='изображение')
					span.info__label лёгкий вес
				.info__item
					.info__icon
						img(src='static/img/safe.svg', alt='изображение')
					span.info__label надёжность
				.info__item
					.info__icon
						img(src='static/img/quiet.svg', alt='изображение')
					span.info__label сохраняет <br> тишину
				.info__item
					.info__icon
						img(src='static/img/beauty.svg', alt='изображение')
					span.info__label украшение <br> любого здания
				.info__item
					.info__icon
						img(src='static/img/temperature.svg', alt='изображение')
					span.info__label стойкость <br> к перепадам <br> температур
				.info__item
					.info__icon
						img(src='static/img/picturesque.svg', alt='изображение')
					span.info__label живописная <br> кровля
			.info__content
				p.info__desc.
					Форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Classic — строгая элегантность классической формы. Форма ТЕХНОНИКОЛЬ LUXARD Classic создана для искушенных ценителей лучшего. Изящество деталей и плавная форма панели ТЕХНОНИКОЛЬ LUXARD Classic идеально дополняет архитектурный ансамбль загородного дома, под крышей которого проходят тихие и уютные семейные вечера, дружеские встречи и званые ужины.
				p.info__desc.
					Композитная черепица ТЕХНОНИКОЛЬ LUXARD Classic — стиль на все времена, всё для абсолютного комфорта и эстетического совершенства Вашего дома.
		include module/prod_classic_sldr.pug
		include module/specifications.pug
		include module/doc.pug
		include layout/footer.pug
