extends _layout
block content
	.out.is_animated.product-page
		include layout/header.pug
		.jumbotron.is_animated.mod_short
			.jumbotron__wrap
				img(src='static/img/catalog/1-01.jpg', alt='изображение').jumbotron__img
				.jumbotron__content.mod-at-center
					.jumbotron__stamp
						img(src="static/img/stamp.png", alt="изображение")
					.jumbotron__subTitle
						h3.jumbotron__title roman
						p.jumbotron__desc Коллекция
						img(src="static/img/catalog/stamp-800.png", alt="").garanty-stamp
						.jumbotron__footer
							a(href='#').jumbotron__link смотреть коллекцию ROMAN
							a(href='#').jumbotron__link смотреть комплектующие
		article.info.is_animated
			.info__header
				.info__item
					.info__icon
						img(src='static/img/weight.svg', alt='изображение')
					span.info__label лёгкий вес
				.info__item
					.info__icon
						img(src='static/img/safe.svg', alt='изображение')
					span.info__label надёжность
				.info__item
					.info__icon
						img(src='static/img/quiet.svg', alt='изображение')
					span.info__label сохраняет <br> тишину
				.info__item
					.info__icon
						img(src='static/img/beauty.svg', alt='изображение')
					span.info__label украшение <br> любого здания
				.info__item
					.info__icon
						img(src='static/img/temperature.svg', alt='изображение')
					span.info__label стойкость <br> к перепадам <br> температур
				.info__item
					.info__icon
						img(src='static/img/picturesque.svg', alt='изображение')
					span.info__label живописная <br> кровля
			.info__content
				p.info__desc.
					Форма композитной черепицы ТЕХНОНИКОЛЬ LUXARD Roman — лаконичные формы натуральной керамической черепицы. Форма ТЕХНОНИКОЛЬ LUXARD Roman создана для изысканных ценителей европейских крыш. Изысканное очарование натуральной черепицы в высокотехнологичном исполнении.
				p.info__desc.
					ТЕХНОНИКОЛЬ LUXARD Roman — тонкий штрих, идеально завершающий облик Вашего дома в самых лучших традициях классической архитектуры.
		include module/prod_roman_sldr.pug
		include module/specifications_roman.pug
		include module/doc.pug
		include layout/footer.pug
