/* -- {{hotLIne}} --/
.bg-dark
	background-color: #f9f8f7

.section
	padding-top: 55px
	text-align: center
	+r(650)
		padding-top: 30px

	&.mod_titleBig
		.title__article
			font-size: 70px

	&-inner
		margin: 0 auto
		&.mod_last
			margin-bottom: 10px
			padding-bottom: 30px
	.title__article
		font-size: 50px
		margin-bottom: 1em
		+r(1000)
			font-size: 24px

	&.mod_first
		padding-top: 165px
		+r(1000)
			padding-top: 100px
		+r(650)
			padding-top: 90px
	&.mod_last
		padding-bottom: 80px

.hotLine
	display: flex
	flex-direction: column
	align-self: flex-start
	margin: 15px
	+r(1250)
		margin-top: 22px
	&__label
		color: $gray
		font-size: 14px
		line-height: .8
	&__tel
		font-size: 2.4rem
		color: #fff
		cursor: pointer
		white-space: nowrap
		+rb
		+r(1250)
			font-size: 2rem

.pagination
	width: 450px
	height: 57px
	margin: 55px auto 50px
	+clr
	+r(650)
		width: 300px
	&__left,
	&__right
		position: relative
		width: 35px
		height: 57px
		float: left
		margin-right: 75px
		+r(650)
			margin: 0
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			transform: matrix(1, 0, 0, 1, -7, -12)
			+s(icon-prev)
			+tr(.4s)
		&:hover:after
			transform: matrix(.8, 0, 0, .8, -7, -12)

	&__right
		float: right
		margin-right: 0
		&:after
			transform: matrix(1, 0, 0, 1, -7, -12)
			+s(icon-next)

	&__list
		display: inline-block
		font-size: 0
	&__item
		display: inline-block
		width: 32px
		text-align: center
		+tr(.4s)
		&.is_active
			background-color: #eee8e0
		&:hover
			background-color: #eee8e0
			opacity: .8
	&__link
		display: block
		line-height: 57px
		font-size: 16px
		color: #000
		+rr

.component
	&__slider
		position: relative
		width: 1204px
		// width: 96%
		margin: 0 auto
		padding-top: 55px
		+r(1400)
			width: calc(96% - 150px)
			padding: 75px 0 0
		+r(650)
			width: calc(100% - 20px)
			padding: 0
		.slick-track
			margin: 0 5px
			+r(650)
				margin: 0
		.slick-list
			margin-right: -30px
			padding: 0 10px 0 0// debag this if neads
			+r(650)
				padding: 0 10px
				margin: 0

.docs
	position: relative
	font-size: 0
	max-width: 1280px
	width: 94%
	margin: 0 auto
.doc
	width: calc(100% / 3 - 1px)
	display: inline-block
	vertical-align: top
	margin-right: 1px
	margin-bottom: 20px
	&__title
		text-align: left
		font-size: 18px
		color: $gold
		+rr
	&__pic
		height: 290px
		position: relative
		width: 100%
		overflow: hidden
	&__img
		+vcenter
		min-height: 100%
		min-width: 100%
	&__content
		width: 100%
		padding: 30px 35px 30px
		background-color: #f4f0eb
	&__table
		width: 100%
		margin: 0 0 10px
		text-align: left
		td
			vertical-align: top
			padding-bottom: 15px
			font-size: 14px
			color: #000
			+rr
			&.doc__table_title
				width: 94px
				padding-right: 5px
				font-size: 14px
				+rm
	.btn
		background-color: $n
		width: 235px
		height: 50px
		line-height: 50px
		&:hover
			background-color: #FFF
			color: #000