.collection
	padding-top: 80px
	+clr
	&__wrap
		position: relative
		height: 725px
		overflow: hidden
		margin-bottom: 10px
		+clr
		+r(1360)
			height: 1450px
			margin-bottom: 20px

		&.mod_reverse
			.propose
				float: right
				&__item
					background: #f9f8f7 url('../img/index/magzin-arrow-111.jpg') 84% center no-repeat
					background-size: cover
			.present
				float: left
			.tips
				left: auto
				right: calc(53% + 30px)
				+r(1360)
					right: 30px
					left: auto
			.tip
				&:hover
					.tip_desc
						width: 29rem
						padding: 0 100px 0 38px
						color: inherit
				&_desc
					left: auto
					right: 0


.propose
	width: 53%
	text-align: center
	background-color: #f9f8f7

	float: left//
	+r(1360)
		width: 100%
	&__item
		height: 725px
		position: relative
		background: #f9f8f7 url('../img/index/magzin-arrow.jpg') -200px center no-repeat
		background-size: cover
		overflow: hidden
		+r(1360)
			background: #f9f8f7 url('../img/index/magzin-arrow-111.jpg') 84% center no-repeat
			background-size: cover

	&__wrap
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
	&__pic
		margin: 0 auto
	&__title
		font-size: 7rem
		line-height: 1.5
		margin-bottom: 0
		color: #000
		text-transform: uppercase
		letter-spacing: .1em
		+cg
	&__desc
		text-transform: uppercase
		font-size: 1.8rem
		letter-spacing: .5em
		+cg
	.btn
		margin-top: 3rem

.present
	width: 47%
	overflow: hidden
	float: right//
	+r(1360)
		width: 100%
	&__item
		height: 725px
		position: relative
		overflow: hidden

	&__pic
		position: absolute
		top: 50%
		left: 50%
		min-width: 100%
		min-height: 100%
		transform: translate(-50%, -50%)
		max-width: none !important
	&__label
		position: relative
		display: inline-block
		padding: 0 15px
		background-color: #FFF
		line-height: 30px
		font-size: 1.2rem
		letter-spacing: .05em
		color: #000
		border-radius: 30px
		text-transform: uppercase
		margin: 30px
		+rm
	&__text
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		text-align: left
		background-color: rgba(51, 31, 28, .7)
		padding: 4rem 2rem 4rem 6rem
		+rl
		&_desc
			max-width: 53rem
			width: 100%
			font-size: 1.6rem
			line-height: 2.4rem
			color: #fff
			+r(1360)
				float: left

.tips
	position: absolute
	top: 50%
	left: calc(53% + 30px)
	+try(-50%)
	+r(1360)
		top: 70%
		right: 30px
		left: auto
.tip
	position: relative
	width: 84px
	height: 84px
	border-radius: 84px
	margin: 10px 0
	background-color: rgba(255, 255, 255, .8)
	cursor: pointer
	// overflow: hidden
	+rm
	&:hover
		.tip_desc
			// width: auto
			width: 29rem
			padding: 0 38px 0 100px
			color: inherit
			+r(1360)
				padding: 0 100px 0 38px
	&_pic
		position: relative
		overflow: hidden
		width: 84px
		height: 84px
	&_img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&_desc
		position: absolute
		top: 0
		left: 0
		width: 0
		padding: 0
		overflow: hidden
		color: $n
		white-space: nowrap
		border-radius: 84px
		background-color: rgba(255, 255, 255, .7)
		// padding: 0 38px
		font-size: 1.2rem
		line-height: 84px
		text-transform: uppercase
		z-index: -1
		+rm
		// transition: width cubic-bezier(0,0,1,1.47) .8s, color .0s .2s
		+r(1360)
			left: auto
			right: 0

	&_house
		background-color: rgba(51, 31, 28, .7)
		color: #fff
		.tip
			&_desc
				background-color: rgba(51, 31, 28, .7)