// Normally header styles
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 88px
	background-color: #FFF
	box-shadow: 0 0 20px rgba(0,0,0,0.2)
	z-index: 5000
	transition: all .4s 0s !important
	&.at-top
		opacity: 0
		transform: translateY(-100px) !important
		transition: all .4s 0s !important
	+r(1000)
		height: 50px
	.layout
		display: flex
		align-items: center
		flex-wrap: nowrap
		justify-content: space-between
		height: 88px
		+tr(.4s)
		+r(1360)
			padding-right: 30px
		+r(1250)
			padding: 0 20px
		+r(1000)
			height: 50px

	&.header-small
		height: 60px
		+tr(.4s)
		.layout
			height: 60px
			+tr(.4s)
		.header
			&__info,
			&__hide
				+tr(.4s)
		.logo
			height: 40px
			+tr(.4s)
			&__pic
				height: 40px
				+tr(.4s)
		.hotLine
			margin: 9px 15px
			+tr(.4s)
		.subWrapper
			top: 60px
			+tr(.4s)

	&__nav
		height: 100%
		+r(1250)
			width: 72%
		+r(1000)
			width: 100%
			border-top: 1px solid #dbdbdb

	&__hide
		display: flex
		align-items: center
		flex-wrap: nowrap
		justify-content: space-between
		height: 100%
		width: calc(100% - 16%)
		+tr(.4s)
		+r(1360)
			width: calc(100% - 50px)
		+r(1000)
			display: none//todo
			overflow-y: scroll

			&.is_opened //todo
				display: block
				position: fixed
				top: 50px
				left: 0
				width: 100vw
				height: 100vh
				background-color: #fff
				border-top: 1px solid #dbdbdb
				z-index: 100
	&__info
		display: flex
		flex: 0 0 320px
		height: 100%
		+tr(.4s)
		+r(1360)
			justify-content: flex-end
			flex: 0 0 290px
		+r(1000)
			position: absolute
			top: 0
			right: 0
			height: 50px
	&_back
		display: none
		+r(1000)
			position: fixed
			top: 25px
			right: 15px
			line-height: 40px
			padding: 0 10px
			text-transform: uppercase
			color: #fff
			font-size: 20px
			letter-spacing: .1em
			z-index: 200
			border: none
			background: none
			+rl

	.btn__open
		display: none
		position: absolute
		top: 15px
		right: 42px
		text-align: right
		+r(1000)
			display: block
			height: 20px
			// right: 24px
			span
				background-color: #dc1c23
		&.is_active
			z-index: 200
			.btn__open_wrap
				height: 20px
			&:after
				border-bottom-color: #fff
			&:before
				border-top-color: #fff
		&_wrap
			position: relative
			top: 1px
			width: 20px
			height: 17px
			margin-left: 64px
		b
			position: absolute
			top: 50%
			left: 4px
			text-transform: uppercase
			font-size: 16px
			color: #959595
			+try(-50%)
			+rr
	.hotLine
		+r(1000)
			margin: 0
			&__label
				display: none
			&__tel
				line-height: 50px
				margin-right: 8px
		&__tel
			color: #000
			+r(1000)
				font-size: 18px

.logo
	display: flex
	align-items: center
	height: 100%
	width: 16%
	transition: opacity .4s
	+r(1360)
		width: 50px
	+r(1000)
		width: 176px
		height: 30px
		justify-content: center
	&:hover
		opacity: 0.8
	&__pic
		font-size: 0
		max-height: 100%
		width: 100%
		+r(1000)
			height: 30px
		img
			width: 100%
			max-width: 100%
			max-height: 100%
			vertical-align: middle
			+r(1000)
				width: auto
				height: 30px

.lang
	display: inline-block
	border: none
	vertical-align: middle
	text-transform: uppercase
	&__img
		margin-right: 6px
.select
	position: relative
	cursor: pointer
	font-size: 14px
	padding: 0 16px
	white-space: nowrap
	z-index: 500
	+r(1000)
		display: inline-block
		padding: 0 20px
		margin-right: 20px
	&:before
		content: ""
		position: absolute
		top: 50%
		right: 0px
		transform: translateY(-50%)
		+s(icon-bird)
.select__text
	position: relative
	height: 34px
	color: #000
	line-height: 34px
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	text-transform: uppercase
	+box
	+rr
	+r(1000)
		height: 50px
		line-height: 50px
.select__list
	position: absolute
	display: none
	left: 1px
	right: 1px
	top: 34px
	padding-bottom: 5px
	border-radius: 0 0 3px 3px
	z-index: 100
	background: #fff
.select__list li
	width: 100%
	font-size: 14px
	line-height: 30px
	color: #000
	text-align: center
	cursor: pointer
	-webkit-transition: background 0.2s linear
	-moz-transition: background 0.2s linear
	-o-transition: background 0.2s linear
	transition: background 0.2s linear
	text-transform: uppercase
	+rr
	&:hover
		background-color: #ccc

.qustion
	display: flex
	position: relative
	color: #fff
	background-color: $fiolet
	height: 100%
	align-items: center
	justify-content: center
	font-size: 1.4rem
	text-align: center
	letter-spacing: .1em
	line-height: 1.3
	padding: 0 20px
	text-transform: uppercase
	transition: background-color .4s
	+rb
	+r(1000)
		padding: 0 10px
		letter-spacing: 0em
		font-size: 11px
		&:before,
		&:after
			content: none
	&:before,
	&:after
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
	&:before
		+arr(9, 16, #fff, r)
		left: 0
	&:after
		+arr(9, 16, #fff, l)
		right: 0
	&:hover
		background-color: #880048
