.jumbotron
	position: relative
	top: 0
	left: 0
	padding-top: 88px
	width: 100%
	background-color: $fiolet
	color: #fff
	+r(1000)
		padding-top: 50px
	&__wrap
		position: relative
		top: 0
		left: 0
		// min-height: 640px
		height: calc(100vh - 88px)
		width: 100%
		overflow: hidden
		+r(1000)
			height: calc(100vh - 50px)
	&__img
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%, -50%, 0)
		min-width: 100%
		min-height: 100%
	&__content
		position: absolute
		top: 50%
		left: 50%
		max-width: 1280px
		max-height: 76vmin
		width: 96%
		margin: 0 auto
		transform: translate3d(-50%, -50%, 0)
		text-align: center
		+r(1000)
			max-height: 76vmax
	&__figure
		position: relative
		width: 62vmin
		margin: 0 auto
		+r(400)
			width: 94%
		&:before
			content: ''
			position: absolute
			top: -5%
			left: -10%
			width: 15vmin
			height: 15vmin
			background-image: url('../img/stamp.png')
			background-size: contain
			background-repeat: no-repeat
			z-index: 10
			+r(1360)
				left: -5%
				width: 13vmin
				height: 13vmin
			+r(800)
				left: -3%
			+r(400)
				top: -40%
				width: 96px
				height: 96px
		img
			margin: 0 auto
			max-width: 100%
			max-height: 100%
	&__mark
		display: inline-block
		margin: 0 auto
		position: relative
		padding: 0 30px
		line-height: 43px
		white-space: nowrap
		text-align: center
		+r(800)
			line-height: 1.3em
			padding: 4px 20px
		+r(350)
			padding: 4px 12px
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			+arr(15, 15, $fiolet, br)
		&:after
			content: ''
			position: absolute
			bottom: 0
			right: 0
			+arr(15, 15, $fiolet, tl)
		&_desc
			font-size: 24px
			letter-spacing: .05em
			text-transform: uppercase
			+ps
			+rh(900)
				font-size: 20px
			+r(400)
				font-size: 18px
				line-height: 1.3
		strong
			font-weight: normal
			+pe

		&_border
			position: absolute
			top: 0
			right: 0
			background-color: $fiolet
			width: calc( 100% - 15px)
			height: calc( 100% - 14px)
			z-index: -1
			&.mod_bottom
				top: 15px
				right: 14px
	&__title
		font-size: 80px
		letter-spacing: .2em
		text-transform: uppercase
		margin-top: .48em
		white-space: nowrap
		+cg
		+r(1200)
			font-size: 6.5vw
		+rh(900)
			margin: .5em 0 1em
	&__footer
		display: inline-block
		margin: 0 auto
		background-color: $fiolet
		border-radius: 50px
		overflow: hidden
	&__link
		display: inline-block
		position: relative
		padding: 0 30px
		line-height: 50px
		text-transform: uppercase
		font-size: 1.4rem
		+tr(.4s)
		+rm
		+r(650)
			font-size: 1.2rem
		+r(400)
			font-size: 1rem
			padding: 0 15px
		+r(400)
			line-height: 40px
		&:not(:last-child)
			&:after
				content: ''
				position: absolute
				top: 10px
				right: 0
				bottom: 10px
				width: 1px
				background-color: #FFF
		&:hover
			background-color: #9d0667

.info
	text-align: center
	&__header
		display: flex
		justify-content: center
		align-items: flex-start
		flex-wrap: nowrap
		max-width: 820px
		width: 84%
		margin: 0 auto
		padding-top: 45px
		+r(1000)
			flex-wrap: wrap
		+r(650)
			padding-top: 20px
	&__icon
		display: inline-block
		font-size: 0
		vertical-align: top
	&__item
		width: 40%
		text-align: center
		margin-bottom: 80px
		+r(1000)
			margin-bottom: 40px
		+r(650)
			margin-bottom: 20px
		+r(620)
			width: 28vw
			margin-bottom: 10px
		+r(400)
			width: 120px

	&__label
		display: inline-block
		width: 100%
		font-size: 2.4rem
		line-height: 1
		margin-top: 22px
		color: $fiolet
		text-transform: uppercase
		+din
		+r(650)
			font-size: 14px
			margin-top: 10px
	&__desc
		max-width: 736px
		width: 60%
		margin: 0 auto
		font-size: 1.8rem
		line-height: 1.8
		text-align: center
		+rl
		+r(800)
			width: 90%
		+r(650)
			font-size: 15px
			line-height: 24px
		strong
			display: inline-block
			margin: 0 .5em 0 0
			+rm
	.btn
		margin-top: 5rem
		+r(800)
			height: 45px
			border-width: 2px
			line-height: 45px
			margin-top: 20px

.gallery
	padding: 80px 0
	text-align: center
	.btn
		margin-top: 50px
		+r(650)
			font-size: 12px
			height: 46px
			line-height: 43px
	&__row
		display: flex
		flex-wrap: nowrap
		align-items: flex-start
		+r(800)
			flex-wrap: wrap
	&__item
		position: relative
		width: calc(25vw - 1px)
		padding-top: 15vw
		border-right: 1px solid #fff
		border-bottom: 1px solid #fff
		overflow: hidden
		cursor: pointer
		+r(800)
			width: 50%
			padding-top: 20vw
		+r(650)
			width: 100%
			padding-top: 50vw
			border: none
			margin-bottom: 5px
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-color: $n
			z-index: 2
			+tr(.4s)
		&:hover::before
			background-color: rgba(0, 0, 0, .16)
	&__pic
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		min-height: 100%

.magazin
	position: relative
	display: flex
	align-items: stretch
	height: auto
	min-height: 610px
	margin-bottom: 80px
	flex-wrap: nowrap
	background: #f9f8f7 url('../img/index/arr.png') 0 center no-repeat
	// background-size: cover
	overflow: hidden
	+tr(1s)
	+r(1000)
		flex-wrap: wrap
		background-position: 0 top
		background-size: auto 350px
		min-height: 0px
	+r(650)
		background-position: 0% top
	&:hover
		background-position: 20% center
		+r(1000)
			background-position: 20% top
		+r(650)
			background-position: 70% top
	&__pic
		position: relative
		// background-color: #396
		width: 50%
		overflow: hidden
		+r(1000)
			position: absolute
			width: 100%
			top: 130px
			left: 50%
			+trx(-50%)
			height: 200px
	&__img
		position: absolute
		right: 2%
		top: 50%
		+try(-50%)

		min-width: 100%
		+r(1000)
			height: 100%
			min-width: auto
			right: 50%
			transform: translate(50%, -50%)
	&__content
		margin: 0
		padding: 90px 0 90px 3%
		width: 50%
		+r(1000)
			width: 100%
			padding: 30px 20px 60px
	&__title
		font-size: 5.6rem
		line-height: 1.15
		letter-spacing: .05em
		text-transform: uppercase
		+cg
		+r(1000)
			position: absolute
			top: 30px
			left: 20px
			right: 20px
			text-align: center
			font-size: 24px

			max-height: 80px
			overflow: hidden
			text-overflow: ellipsis
	&__desc
		width: 66.6666%
		font-size: 1.6rem
		line-height: 1.5em
		+r(1000)
			margin: 330px 20px 90px
			font-size: 15px
			line-height: 24px
			text-align: center
			width: auto
	.btn
		margin: 5.5rem auto 0
		background-color: $n
		&:hover
			background-color: #c7b299
		+r(1000)
			position: absolute
			bottom: 60px
			left: 50%
			margin-top: 0
			+trx(-50%)

.news
	text-align: center
	padding-bottom: 80px
	.btn
		+r(650)
			font-size: 12px
			height: 4.6rem
			line-height: 4.3rem
	&__section
		text-align: left
		height: 560px
		margin-bottom: 30px
	&__row
		display: inline-block
		width: calc(50% - 2px)
		+r(1000)
			margin-bottom: 10px
			height: 515px
	&__link
		position: relative
		display: inline-block
		vertical-align: top
		width: calc(25% - 1px)
		margin-right: 1px
		text-align: left
		background-color: #f4f0eb
		overflow: hidden
		+r(1000)
			// width: calc(50% - 1px)
			margin-bottom: 80px
			+tr(.4s)
		+r(650)
			width: 100%
			margin-right: 0
		&:hover
			box-shadow: 0 0 32px rgba(131,109,108,0.4)
			border-bottom: 10px solid #c7b299
			margin-bottom: 20px
			z-index: 2
			.news
				&__pic
					height: 260px
	&__pic
		position: relative
		width: 100%
		height: 200px
		overflow: hidden
		transition: height linear .4s

		&_title
			position: absolute
			top: 50%
			left: 55%
			max-width: 100%
			white-space: nowrap
			font-size: 3rem
			letter-spacing: 1.4em
			color: #fff
			transform: translate(-50%, -50%)
			+r(1360)
				letter-spacing: 1em
	&__img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		min-width: 100%
		min-height: 100%
	&__content
		padding: 7% 10%
		height: 240px
		display: flex
		flex-direction: column
		background-color: #f4f0eb
		transition: padding-top linear .2s
	&__title
		// max-height: 5.9rem
		// height: auto
		// white-space: nowrap
		// text-overflow: ellipsis
		// overflow: hidden
		position: relative
		color: $gold
		font-size: 1.8rem
		+rr
		+limitLines($maxLinesPortrait: 3, $maxLinesLandscape: 3, $fgCol: #f4f0eb, $bgCol: #f4f0eb, $lineHeight: 1.8 )

	&__desc
		// white-space: nowrap
		// text-overflow: ellipsis
		// overflow: hidden
		margin-bottom: 0
		font-size: 14px
		line-height: 1.3
		max-height: 54px
		height: auto
		+rr
		+limitLines($maxLinesPortrait: 3, $maxLinesLandscape: 3, $fgCol: #f4f0eb, $bgCol: #f4f0eb, $lineHeight: 1.8 )
	&__time
		position: absolute
		bottom: 26px
		left: 10%
		display: inline-block
		font-size: 1.1rem
		color: #000
		+rr
		+r(850)
			font-size: 13px
		// +r(650)
		// 	margin-top: 1.4em
