input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill
	background-position: 0 0
	-webkit-text-fill-color: #000
	-webkit-box-shadow: 0 0 0px 1000px transparent inset
	transition: background-color 5000s ease-in-out 0s
	background-color: #fff !important

.popup
	&__gallery
		display: none
	&__fieldset
		position: relative
		width: 49%
		max-width: 49%
		height: 49px
		text-align: left
		+clr
		&:not(:last-of-type)
			margin-right: 2%
		+r(800)
			width: 100%
			max-width: 100%
			margin: 0
		&.mod_tel
			.popup__fieldset_label
				line-height: 47px
			+r(800)
				text-align: center
				margin-bottom: 8px
		&_tel
			height: 100%
			width: 190px
			// float: right
			// margin-left: 15px
			padding-left: 15px
			border: none
			outline: none
			background-color: $n
			font-size: 16px
			+rl
			+placeholder
				font-size: 16px
				color: #000
				+rl
			&.has-error
				color: #f00
				& ~ .popup__fieldset_label
					color: #f00

		&_label
			font-size: 16px
			text-align: left
			padding-left: 18px
			display: inline-block

		&_file
			width: 0
			height: 0
			opacity: 0
			overflow: hidden
			position: absolute
			z-index: -1

		&_pic
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 70px
			height: 50px
			border-radius: 50px
			+tr(.4s)
			pointer-events: none
		&_desc
			display: block
			border-radius: 50px
			height: 50px
			cursor: pointer
			background-color: #f9f8f7
			text-align: left
			line-height: 50px
			padding-left: 26px
			font-size: 16px
			+rl
			+r(1000)
				background-color: #FFF
			&:hover
				.popup__fieldset_pic
					background-color: #efeae4
					+r(1000)
						background-color: #FFF
			span
				display: inline-block
				width: 190px
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis

		&_img
			position: absolute
			top: 50%
			right: 20px
			+try(-50%)

.popup__question
	position: relative
	text-align: center
	border-top: 1px solid #dbdbdb
	background-color: #FFF

	transform-origin: top center
	transform: rotateX(90deg)

	+tr(.5s)
	.layout
		margin-top: 60px
		+r(650)// todo
			margin: 80px 0
	&.is_opened
		transform: rotateX(0deg)
		z-index: 400
		+r(1000)
			background-color: #f0ebe5
			height: 100vh
			// overflow-y: scroll
	.layout
		position: relative
		height: auto !important
		flex-direction: column
	&_desc
		font-size: 1.8rem
		letter-spacing: .05em
		color: #000
		text-transform: uppercase
		text-align: center
		+rr
		+r(650)
			font-size: 14px
	&_form
		width: 96%
		max-width: 580px
		margin: 0 auto
		font-size: 0
		+r(650)//todo
			display: flex
			flex-direction: column
			width: 100%
	&_item,
	&_data
		width: 100%
		height: 50px
		border: 1px solid #CFC4B6
		padding: 0 20px
		margin-bottom: 8px
		line-height: 28px
		font-size: 18px
		+placeholder
			font-size: 16px
			color: #000
			+rl
		&:active,
		&:focus
			outline: none
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2)
	&_item
		padding: 10px 20px
		resize: none
		+r(650)
			height: 80px
	&_box
		display: flex
		justify-content: space-between
		+r(800)
			flex-wrap: wrap
			order: -1
	&_wrp
		display: flex
		flex-wrap: wrap

	&_footer
		font-size: 2.4rem
		color: #000
		line-height: 100px
		margin-top: 4rem
		background-color: #f9f8f7
		+rl
		+r(650)
			display: none
	.btn
		margin-top: 5rem
		background-color: $n
		+r(650)
			height: 45px
			line-height: 1
			font-size: 12px
			width: 100%
			margin-top: 20px
			background-color: $n
			&:hover
				background-color: #c7b299

	.btn__close
		position: absolute
		right: 0
		+tr(.3s)
		&:hover
			+scale(.9)
			+r(800)
				width: 28px
				height: 28px
				+trx(-50%)
		+r(1360)
			right: 30px
		+r(800)
			width: 32px
			height: 32px
			top: -50px
			left: 50%
			+trx(-50%)
		&.is_active span
			width: 136%
			background: $fiolet
		span
			height: 1px

.input
	position: relative
	width: 100%
	&-half
		width: 49%
		display: inline-block
		+r(800)
			width: 100%
	&__item
		padding: 20px 20px 5px
		line-height: 1.2
		&.has-error
			border-color: #f00
			box-shadow: 0 0 12px rgba(255,109,108,0.4)
	&__label
		position: absolute
		left: 0px
		right: 0
		height: calc(100% - 8px)
		top: 0px
		text-align: left
		padding: 12px 20px
		pointer-events: none
		user-select: none
		span
			font-size: 16px
			color: #000
			+rl
			+tr(.4s)
.input--filled .input__label span,
.input__item:focus + .input__label span
	font-size: 15px
	transform: translate3d(0, -50%, 0)

	position: relative
	display: block
	width: 100%


.overlay
	position: fixed
	top: -100px
	left: 0
	width: 100%
	height: 100vh
	overflow: hidden
	background-color: rgba(0, 0, 0, .4)
	z-index: -60
	opacity: 0
	+tr(.8s)
	+r(850)
		width: 100%

	&.is_active
		top: 0
		opacity: 1
		z-index: 5000
	&__wrap
		+coverdiv
		cursor: pointer
	.btn__close
		width: 36px
		height: 36px
		top: 0px
		right: -52px
		pointer-events: none
		+r(850)
			right: 20px
			top: -52px

		span
			background-color: #ede7df
			height: 1px
			transform-origin: left center
			&:nth-child(3n)
				top: 93%

.popPic
	position: relative
	height: calc(100vh - 40px)
	max-width: 1400px
	width: calc(100% - 160px)
	margin: 20px auto 0
	+r(850)
		margin-top: 70px
		width: 100%
	&.hide
		position: absolute
		top: -9999px
		left: -9999px

.bigCarusel
	position: relative
	max-height: 100%
	max-width: 1400px
	width: 100%
	height: 100%
	margin: 0 auto
	+r(850)
		width: 100%
	&__item
		position: relative
		height: 880px
		margin: 0 auto
		width: 100%
		overflow: hidden
		&_img
			+vcenter
			min-width: 100%
			min-height: 100%
			+r(850)
				height: 100%

.fanCaption
	position: relative
	display: flex
	justify-content: flex-start
	align-items: center
	height: 80px
	max-width: 96%
	max-width: 1400px
	width: calc(100vw - 177px)
	padding: 16px 0 15px 20px
	margin: 0 auto
	background-color: #eee8e0
	+clr
	+r(850)
		width: 100%
		flex-wrap: wrap
		justify-content: space-between
		height: 135px
	&__color
		display: flex
		width: 205px
		align-items: center
		+r(850)
			width: 50%
		&_pic
			position: relative
			width: 50px
			flex: 0 0 50px
			height: 50px
			margin-right: 18px
			border-radius: 50px
			overflow: hidden
			&-img
				+vcenter
				min-width: 100%
				min-height: 100%
				border-radius: 100%
	&__text
		display: flex
		flex-wrap: wrap
		p
			width: 100%
			margin-bottom: 0
			line-height: 1em
			font-size: 11px
			text-transform: uppercase
			color: #000
			+rr
		a
			font-size: 13px
			color: #754c24
			line-height: 1em
			letter-spacing: .05em
			border-bottom: 1px solid #754c24
			text-transform: uppercase
			text-decoration: none
			+rb
			+tr(.4s)
			&:hover
				opacity: .8
				border-bottom-color: $n

	&__collection
		@extend .fanCaption__color
		+r(850)
			width: 80px
			margin-right: 20px
		.fanCaption__text
			padding-left: 20px
			border-left: 1px solid #bebab3
			p
				+r(850)
					display: none
	&__location
		@extend .fanCaption__color
		width: auto
		+r(850)
			width: 100%
			padding-top: 10px
			border-top: 1px solid #bebab3
			margin-top: 10px

	&__box
		display: flex
		flex-direction: column
		strong
			font-size: 13px
			text-transform: uppercase
			letter-spacing: .05em
			line-height: 1em
			color: #000
			+rb
		p
			font-size: 13px
			letter-spacing: .05em
			line-height: 1em
			color: #000
			+rr
			span
				+r(850)
					display: none