.specifications
	position: relative
	padding: 70px 0 84px
	margin: 10px 0
	background-color: #f9f8f7
	&-left
		position: absolute
		top: 0
		bottom: 0
		width: 20%
		left: .5%
		background: #f9f8f7 url('../img/index/arr.png') 100% 50% no-repeat

	&-right
		position: absolute
		top: 0
		bottom: 0
		width: 20%
		right: .5%
		background: #f9f8f7 url('../img/index/arr-r.png') 0 50% no-repeat

	&__wrap
		width: 460px
		margin: 0 auto
	&__title
		text-align: center
		font-size: 24px
		letter-spacing: .1em
		text-transform: uppercase
		+cg
	&__table
		table-layout: fixed
		width: 100%
		tr
			border-bottom: 1px solid #e0dfde
		td
			padding: 10px 0
			font-size: 18px
			text-align: left
			&:nth-child(2n)
				text-align: right
