.title
	&__article
		font-size: 7rem
		letter-spacing: .1em
		color: #000
		text-align: center
		text-transform: uppercase
		+cg
		+r(1000)
			font-size: 50px
		+r(650)
			font-size: 24px
			margin-bottom: 1.5em
	&__popup
		font-size: 5rem
		color: #000
		text-transform: uppercase
		+cg
		+r(650)//todo
			font-size: 23px
	&__subtitle
		font-size: 18px
		line-height: 30px
		color: #000
		+rm
		+r(650)
			font-size: 14px
			line-height: 20px
	&__middle
		font-size: 40px
		text-transform: uppercase
		margin-bottom: 0
		+cg
		+r(650)
			font-size: 24px
	&-404
		font-size: 60px
		letter-spacing: .05em
		color: #000
		text-transform: uppercase
		margin-bottom: .2em
		+cg
		+r(850)
			font-size: 24px
			margin-bottom: 15px
	&-noBottom
		margin-bottom: 10px!important
